</div>  <!-- End of container -->
<footer class="footer">
  <div class="container">
    <p class="text-muted">&copy; YelpCamp 2017 | <a href="/campgrounds">Home</a></p>
  </div>
</footer>
</body>
</html>