<% include partials/header %>
<div class="container">
    <div class="row">
      <h1 style="text-align:center;">Create a new Campground</h1>
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <form action="/campgrounds" method="POST">
          <div class="form-group">
            <label>Name</label>
            <input class="form-control"type="text" name="name" placeholder="Three Cliffs Bay Holiday Park">
          </div>
          <div class="form-group">
            <label>Price</label>
            <input class="form-control"type="number" name="price" min="0.50" step="0.01" placeholder="12.99">
          </div>
          <div class="form-group">
            <label>Image URL</label>
            <input class="form-control" type="text" name="image" placeholder="source.unsplash.com/...">
          </div>
          <div class="form-group">
            <label>Location</label>
            <input class="form-control"type="text" name="location" placeholder="Three Cliffs Bay, UK">
          </div>
          <div class="form-group">
            <label>Description</label>
            <input class="form-control" type="text" name="description" placeholder="It is a short walk to the beautiful Three Cliffs Bay...">
          </div>
          <button class="btn btn-primary btn-lg btn-block">Submit!</button>
        </form>
        <a href="/campgrounds">Back</a>
      </div>
    </div>
  </div>
</div>



<% include partials/footer %>