<% include partials/header %>

<div class="container">
  <div class="row">
    <h1 style="text-align:center;">Sign Up</h1>
    <div style="width:30%; margin:30px auto;">
      <form action="/register" method="POST">
        <div class="form-group">
          <label for="username">Username</label>
          <input class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="firstName">First Name</label>
            <input class="form-control" type="text" name="firstName" placeholder="First Name">
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
            <input class="form-control" type="text" name="lastName" placeholder="Last Name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
            <input class="form-control" type="email" name="email" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="avatar">Avatar URL</label>
            <input class="form-control" type="text" name="avatar" placeholder="Avatar URL">
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>


<% include partials/footer %>