html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
}
.footer .text-muted { /* Footer text */
  text-align: center;
  margin: 10px 0;
}

.thumbnail img {
  width: 100%;
}
.thumbnail { 
  padding: 0;
}

.thumbnail .caption-full {
  padding: 10px;
}

#deleteForm {
  display: inline-block;
}